---
const listItem = 'rounded-full border border-astronaut px-2 py-1 ';
const containerFlex = 'flex items-center gap-2';
---

<section
  class="flex md:w-11/12 md:flex-row w-full px-5 text-astronaut h-screen items-center justify-center flex-col"
>
  <div>
    <h2 class="font-title text-4xl sm:text-6xl select-none mb-2">Sobre mí</h2>
    <p>
      Frontend Developer y entusiasta del diseño, soy además una egresada de ONE
      (Oracle Next Education), actualmente en búsqueda de nuevos conocimientos y
      actualizaciones, me interesa formar parte de un equipo para colaborar y
      apoyar constantemente en la realización de proyectos que ayuden a otros a
      crecer.
    </p>

    <article
      class="md:mb-5 sm:flex-row sm:justify-around sm:h-16 justify-start flex bg-lime/[.3] text-lime h-auto rounded-md p-1 items-center overflow-hidden relative flex-col bg-ONE bg-no-repeat bg-left-top bg-opacity-90 bg-contain mb-4"
    >
      <div
        class={`${containerFlex} sm:w-2/4 sm:justify-end w-full justify-center`}
      >
        <p class="text-xl font-bold">Certificados ONE</p>
        <img
          src="assets/arrow.svg"
          alt="link arrow"
          width="32"
          class="w-8 max-md:ml-2 fill-mindaro"
        />
      </div>
      <div
        class={`${containerFlex} sm:w-2/4 w-full sm:mr-14 m-0 justify-center`}
      >
        <a
          href="https://app.aluracursos.com/degree/certificate/6a12717d-e5c1-42d0-9c95-895d9cc17c06"
          class=""
          target="_blank">Frontend</a
        >
        <a
          href="https://app.aluracursos.com/program/certificate/91dc0b44-7d9d-405b-bc25-beb1485fdbd2"
          class=""
          target="_blank">Programa</a
        >
      </div>
    </article>

    <h3 class="text-xl mb-2">Habilidades blandas</h3>

    <ul class="flex flex-wrap gap-1">
      <li class={`${listItem}`}>Trabajo en equipo</li>
      <li class={`${listItem}`}>Creatividad</li>
      <li class={`${listItem}`}>Comunicacion</li>
      <li class={`${listItem}`}>Rol de equipo</li>
    </ul>
  </div>

  <ul class="bg-grid border border-white rounded-md">
    <li>
      <a href="www.linkedin.com/in/gloria-alicia-garcía">Linkedin</a>
    </li>
    <li>
      <a href="https://github.com/GloriaAlicia">Github</a>
    </li>

    <li><a href="mailto">ga365743@gmail.com</a></li>
  </ul>
</section>
