---
const menuDesktop =
  ' justify-center items-center md:rounded-full p-1 items-center  overflow-hidden md:h-1/6';

const menu =
  ' font-text max-md:border-l-0 max-md:w-full max-md:h-full justify-center';
const item = 'md:text-xl sm:text-lg text-base ';
---

<nav class="w-full md:h-auto sm:h-1/5 md:mr-5 md:my-3 sm:block">
  <ul
    class="flex md:gap-1 md:mx-2 max-md:h-full w-full items-center justify-around"
  >
    <li
      class={`${menuDesktop} ${menu} ${item} flex  md:flex-grow bg-lime/30 justify-center`}
    >
      <a
        href="#Proyects"
        class="flex items-center gap-2 cursor-pointer w-full h-full text-center justify-center py-2"
      >
        Proyectos
        <img
          src="assets/arrow.svg"
          alt="link arrow"
          width="32"
          class="md:block w-8 max-md:ml-2 hidden"
        />
      </a>
    </li>
    <li class={`${menuDesktop} ${menu} flex px-3 md:flex-grow  bg-lime/20`}>
      <a
        href="#About"
        class={`${item} cursor-pointer  w-full h-full flex items-center justify-center text-center py-2 rounded-full`}
        >Sobre mí</a
      >
    </li>
    <li class={`${menuDesktop} ${menu} px-3 bg-lime/10 sm:flex hidden`}>
      <a
        class={`${item} flex cursor-pointer w-full h-full  items-center justify-center text-center py-2`}
        href="#form">Contáctame</a
      >
    </li>
    <li class={`${menuDesktop} ${menu} flex px-3 bg-lime/10`}>
      <a
        class={`${item} flex cursor-pointer w-full h-full  items-center justify-center text-center py-2`}
        href="https://www.linkedin.com/in/gloria-alicia-garcía"
        target="_blank"
      >
        <img src="icons/linkedin.svg" alt="" class="w-5" />
      </a>
    </li>
  </ul>
</nav>
