---
import Link from './Link.astro';

interface Props {
  name: string;
  text: string;
  path: string;
  linkDemo: string;
  linkCode: string;
  alt: string;
}

const { name, path, alt, text, linkDemo, linkCode } = Astro.props;
---

<article class="flex my-3 sm:flex-row flex-col">
  <div class="bg-lime/30 rounded-2xl relative p-3 sm:w-1/2 w-fit lg:w-auto">
    <img src={path} alt={alt} class="rounded-2xl md:max-w-xs" />
    <slot />
  </div>

  <div
    class="sm:p-4 sm:w-1/2 md:w-full w-auto md:p-7 p-3 bg-lime/30 rounded-2xl flex flex-col justify-between lg:w-auto"
  >
    <h3 class="font-title text-4xl mb-3">{name}</h3>
    <p class="text-base">
      {text}
    </p>
    <div class="flex gap-1 flex-wrap justify-end items-center w-full">
      <Link
        link={linkDemo}
        text="Demo"
        styles="bg-lime rounded-md px-3 py-1 w-fit text-mindaro"
      />
      <Link
        link={linkCode}
        text="Código"
        styles="border border-teal rounded-md px-3 py-1 w-fit text-teal"
      />
    </div>
  </div>
</article>
