---
import Link from '../components/Link.astro';
import SectionComponent from '../components/SectionComponent.astro';

const listItem = 'rounded-full border border-astronaut px-2 py-1 ';
const containerFlex = 'flex items-center gap-2';
---

<SectionComponent>
  <div class="lg:flex-row flex flex-col justify-around sm:m-0 my-14">
    <div class="lg:w-2/4">
      <h2 class="font-title text-4xl sm:text-6xl select-none mb-2">Sobre mí</h2>
      <p>
        Frontend Developer y entusiasta del diseño, soy además una egresada de
        ONE (Oracle Next Education), actualmente en búsqueda de nuevos
        conocimientos y actualizaciones, me interesa formar parte de un equipo
        para colaborar y apoyar constantemente en la realización de proyectos
        que ayuden a otros a crecer.
      </p>

      <h3 class="text-xl mb-2">Habilidades blandas</h3>

      <ul class="flex flex-wrap gap-1">
        <li class={`${listItem}`}>Trabajo en equipo</li>
        <li class={`${listItem}`}>Creatividad</li>
        <li class={`${listItem}`}>Comunicacion</li>
        <li class={`${listItem}`}>Rol de equipo</li>
      </ul>

      <article
        class="md:mb-5 sm:flex-row sm:justify-around sm:h-16 justify-start flex bg-lime/[.1] text-lime h-auto rounded-md p-1 items-center overflow-hidden relative flex-col bg-ONE bg-no-repeat bg-left-top bg-opacity-90 bg-contain mb-1 mt-3"
      >
        <div
          class={`${containerFlex} sm:w-2/4 sm:justify-end w-full justify-center`}
        >
          <p class="text-xl font-bold">Certificados ONE</p>
          <img
            src="assets/arrow.svg"
            alt="link arrow"
            width="32"
            class="w-8 max-md:ml-2 fill-mindaro"
          />
        </div>
        <div
          class={`${containerFlex} sm:w-2/4 w-full sm:mr-14 m-0 justify-center`}
        >
          <Link
            link="https://app.aluracursos.com/degree/certificate/6a12717d-e5c1-42d0-9c95-895d9cc17c06"
            text="Frontend"
            styles=" italic"
          />
          <!-- bg-teal text-mindaro rounded-md px-2 py-1 -->
          <Link
            link="https://app.aluracursos.com/program/certificate/91dc0b44-7d9d-405b-bc25-beb1485fdbd2"
            text="Programa"
            styles="italic"
          />
        </div>
      </article>
    </div>

    <ul
      class="flex lg:flex-col sm:bg-transparent sm:mb-0 flex-row p-1 lg:w-1/3 w-full h-auto gap-1 bg-lime/20 rounded-full mt-1"
    >
      <li
        class="rounded-full md:border-2 md:border-lime bottom-2 right-2 p-3 justify-center items-center sm:flex hidden"
      >
        <p class="md:text-2xl sm:text-xl text-center">Encuentrame en redes</p>
        <img src="assets/arrow.svg" alt="flecha link" class="w-2/5" />
      </li>
      <ul
        class="border border-lime bg-grid bg-opacity-60 rounded-full p-3 flex flex-wrap gap-1 flex-col w-full"
      >
        <li class="flex p-1 justify-center items-center">
          <span class="font-bold">correo:</span>
          <p>ga365743@gmail.com</p>
        </li>

        <ul class="flex gap-1 flex-wrap justify-center items-center">
          <Link
            link="https://www.linkedin.com/in/gloria-alicia-garcía"
            text="Linkedin"
            styles="text-mindaro bg-blues rounded-md px-2 p-1 w-fit"
          />
          <Link
            link="https://github.com/GloriaAlicia"
            text="Github"
            styles=" text-mindaro bg-blues rounded-md  px-2 py-1 w-fit"
          />
        </ul>
      </ul>
    </ul>
  </div>
</SectionComponent>
